.nav {
    width: auto;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
    display: inline-block;
    vertical-align: middle;
    position: fixed;
}

.nav-list {
    flex-direction: column;
    display: block;
    column-gap: 3rem;
    float: inline-start;
    margin-left: 1rem;
    position: absolute;
}

.social-list {
    bottom: 0;
    padding-bottom: 10px;
}

.nav-item i {
    font-size: var(--h3-font-size);
}


.nav-link {
    transition: .3s;
}

.nav-link:hover {
    color: var(--color-primary);
}