.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

.modal-content {
    padding: 15px;
    background-color: var(--color-white);
    margin: 5%;
    height: 80%;
    width: 90%;
    border-radius: var(--border-radius);
    /* overflow: scroll; */
}
  
.close {
    color: var(--color-dark);
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: var(--color-primary);
    text-decoration: none;
    cursor: pointer;
}

.project-description {
    color: var(--color-dark);
    text-wrap: wrap;
}

.link {
    color: var(--color-primary);
    text-decoration-line: underline;
}

.project-video {
    max-height: 70%;
    width: 100%;
    padding: 20px;
}